In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-08-06 00:14:10,-46.1927,168.8643,48.47,74,34,1.43
1,1,Jamestown,US,2021-08-06 00:14:11,42.0970,-79.2353,74.52,68,1,6.91
2,2,Santa Rita,BR,2021-08-06 00:14:11,-7.1139,-34.9781,72.27,100,0,9.22
3,3,Rikitea,PF,2021-08-06 00:12:21,-23.1203,-134.9692,74.21,74,39,16.28
4,4,Cape Town,ZA,2021-08-06 00:10:48,-33.9258,18.4232,56.12,96,90,2.30

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Kapaa,US,2021-08-06 00:14:12,22.0752,-159.3190,84.52,75,40,5.01
16,16,Balingasay,PH,2021-08-06 00:14:14,16.3573,119.8564,82.71,83,98,24.29
21,21,Butaritari,KI,2021-08-06 00:14:15,3.0707,172.7902,83.34,64,11,12.77
23,23,Noshiro,JP,2021-08-06 00:14:16,40.2039,140.0242,86.99,62,4,2.19
30,30,Vicksburg,US,2021-08-06 00:14:17,32.3526,-90.8779,84.70,60,1,4.61
31,31,Hithadhoo,MV,2021-08-06 00:14:17,-0.6000,73.0833,80.24,76,99,4.65
34,34,Eluru,IN,2021-08-06 00:14:18,16.7000,81.1000,84.29,76,100,8.05
40,40,Trussville,US,2021-08-06 00:14:20,33.6198,-86.6089,82.33,79,75,3.44
44,44,Lodwar,KE,2021-08-06 00:14:21,3.1191,35.5973,81.90,42,64,17.92
45,45,Kirakira,SB,2021-08-06 00:14:21,-10.4544,161.9205,82.56,57,7,4.45

In [19]:
preferred_cities_df.count()

City_ID       113
City          113
Country       113
Date          113
Lat           113
Lng           113
Max Temp      113
Humidity      113
Cloudiness    113
Wind Speed    113
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
9        Kapaa      US     84.52  22.0752 -159.3190
16  Balingasay      PH     82.71  16.3573  119.8564
21  Butaritari      KI     83.34   3.0707  172.7902
23     Noshiro      JP     86.99  40.2039  140.0242
30   Vicksburg      US     84.70  32.3526  -90.8779
31   Hithadhoo      MV     80.24  -0.6000   73.0833
34       Eluru      IN     84.29  16.7000   81.1000
40  Trussville      US     82.33  33.6198  -86.6089
44      Lodwar      KE     81.90   3.1191   35.5973
45    Kirakira      SB     82.56 -10.4544  161.9205

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Balingasay,PH,82.71,16.3573,119.8564,Rock Garden Resort
21,Butaritari,KI,83.34,3.0707,172.7902,Isles Sunset Lodge
23,Noshiro,JP,86.99,40.2039,140.0242,Azuma Ryokan
30,Vicksburg,US,84.70,32.3526,-90.8779,La Quinta Inn & Suites by Wyndham Vicksburg
31,Hithadhoo,MV,80.24,-0.6000,73.0833,Scoop Guest House
34,Eluru,IN,84.29,16.7000,81.1000,SRI KRISHNA RESIDENCY
40,Trussville,US,82.33,33.6198,-86.6089,Courtyard by Marriott Birmingham Trussville
44,Lodwar,KE,81.90,3.1191,35.5973,Solmar Gracious Hotel
45,Kirakira,SB,82.56,-10.4544,161.9205,SanBiz Lodge

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))