## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Nantucket,US,83.25,broken clouds,41.2835,-70.0995,Jared Coffin House
1,9,Wilmington,US,88.95,broken clouds,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
2,12,Banjul,GM,82.72,broken clouds,13.4500,-16.5833,Laico Atlantic Banjul
3,27,Jamestown,US,85.17,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,29,Taft,IR,87.75,few clouds,31.7471,54.2088,بوم گردی حاجی زینل تفت

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [35]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Wilmington']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Wilmington']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Millinocket']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Jamestown'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Ottumwa'] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,9,Wilmington,US,88.95,broken clouds,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."

In [ ]:
## 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0, 5:7].to_numpy()
start = tuple(start)
end = vacation_end.iloc[0, 5:7].to_numpy()
end = tuple(end)
stop1 = vacation_stop1.iloc[0, 5:7].to_numpy()
stop1 = tuple(stop1)
stop2 = vacation_stop2.iloc[0, 5:7].to_numpy()
stop2 = tuple(stop2)
stop3 = vacation_stop3.iloc[0, 5:7].to_numpy()
stop3 = tuple(stop3)

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center = (35,-78), zoom_level=7)
Wilmington = start
Millinocket = stop1
Jamestown = stop2
Ottumwa = stop3
roadtrip = gmaps.directions_layer(Wilmington, Wilmington,
                                  waypoints=[Millinocket, Jamestown, Ottumwa],
                                  travel_mode="DRIVING")

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Wilmington,US,88.95,broken clouds,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
1,367,Millinocket,US,81.91,broken clouds,45.6573,-68.7098,Katahdin Inn & Suites
2,27,Jamestown,US,85.17,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,649,Ottumwa,US,86.68,broken clouds,41.0200,-92.4113,Hampton Inn Ottumwa

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (35,-78), zoom_level=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
#fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))